<div class="page-header">
  <h3>Requester #<%= @requester.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @requester.email %></dd>

      <dt>Password</dt>
      <dd><%= @requester.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/requesters" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
